.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne8b916f7-f0e4-463f-8a6c-d7de6d4ed50d span#rtr-sc-e8b916f7-f0e4-463f-8a6c-d7de6d4ed50d_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne8b916f7-f0e4-463f-8a6c-d7de6d4ed50d .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne8b916f7-f0e4-463f-8a6c-d7de6d4ed50d .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/d12245cc-1680-458d-89dd-4f0d7fb22724.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne8b916f7-f0e4-463f-8a6c-d7de6d4ed50d {
  position: absolute;
  left: 129.02284097906386px;
  top: 40.999999999999986px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne8b916f7-f0e4-463f-8a6c-d7de6d4ed50d {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t826b4ad5-3dc8-4c04-a1d5-37934b644ae2 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t826b4ad5-3dc8-4c04-a1d5-37934b644ae2 .transitionNameContainer {
  left: 341.16630065617284px;
  top: 163.0px;
}
#t826b4ad5-3dc8-4c04-a1d5-37934b644ae2.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t826b4ad5-3dc8-4c04-a1d5-37934b644ae2.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n66f11ca4-f0af-453c-ac6d-63089c8ba7f9 span#rtr-sc-66f11ca4-f0af-453c-ac6d-63089c8ba7f9_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n66f11ca4-f0af-453c-ac6d-63089c8ba7f9 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n66f11ca4-f0af-453c-ac6d-63089c8ba7f9 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/24de9b87-d985-40bb-a710-0ac329d0726f.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n66f11ca4-f0af-453c-ac6d-63089c8ba7f9 {
  position: absolute;
  left: 434.79990811653306px;
  top: 41.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n66f11ca4-f0af-453c-ac6d-63089c8ba7f9 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t35ba200b-07ed-45a1-a5bf-7b11e1eb7b2c .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t35ba200b-07ed-45a1-a5bf-7b11e1eb7b2c .transitionNameContainer {
  left: 544.460069697908px;
  top: 233.96728856743653px;
}
#t35ba200b-07ed-45a1-a5bf-7b11e1eb7b2c.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t35ba200b-07ed-45a1-a5bf-7b11e1eb7b2c.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t7a2dedab-afef-4ed1-8fd0-7f9c47b40f15 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t7a2dedab-afef-4ed1-8fd0-7f9c47b40f15 .transitionNameContainer {
  left: 318.7284242214779px;
  top: 243.99992248130394px;
}
#t7a2dedab-afef-4ed1-8fd0-7f9c47b40f15.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t7a2dedab-afef-4ed1-8fd0-7f9c47b40f15.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n872d7df6-39c9-48e7-8e34-f073aaf34c84 span#rtr-sc-872d7df6-39c9-48e7-8e34-f073aaf34c84_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n872d7df6-39c9-48e7-8e34-f073aaf34c84 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n872d7df6-39c9-48e7-8e34-f073aaf34c84 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/d9245ac7-d63e-4452-a66d-72e661018874.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n872d7df6-39c9-48e7-8e34-f073aaf34c84 {
  position: absolute;
  left: 576.7999081165331px;
  top: 41.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n872d7df6-39c9-48e7-8e34-f073aaf34c84 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t88ad02a5-3cd1-475f-867b-0be2f7ed6ead .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t88ad02a5-3cd1-475f-867b-0be2f7ed6ead .transitionNameContainer {
  left: 700.2894311532447px;
  top: 236.82917632768198px;
}
#t88ad02a5-3cd1-475f-867b-0be2f7ed6ead.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t88ad02a5-3cd1-475f-867b-0be2f7ed6ead.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t60a24175-c80f-4e3a-8b33-6846c0145f75 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t60a24175-c80f-4e3a-8b33-6846c0145f75 .transitionNameContainer {
  left: 828.5201860641694px;
  top: 209.54225268175446px;
}
#t60a24175-c80f-4e3a-8b33-6846c0145f75.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t60a24175-c80f-4e3a-8b33-6846c0145f75.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t41b03335-e2a1-4bce-a21a-052724bc760b .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t41b03335-e2a1-4bce-a21a-052724bc760b .transitionNameContainer {
  left: 762.5273489580134px;
  top: 229.80005520001387px;
}
#t41b03335-e2a1-4bce-a21a-052724bc760b.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t41b03335-e2a1-4bce-a21a-052724bc760b.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n74d5ed35-f450-40f3-a951-9e0c9982303f span#rtr-sc-74d5ed35-f450-40f3-a951-9e0c9982303f_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n74d5ed35-f450-40f3-a951-9e0c9982303f .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n74d5ed35-f450-40f3-a951-9e0c9982303f .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/e405fedd-7575-4c14-8101-27e95d885168.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n74d5ed35-f450-40f3-a951-9e0c9982303f {
  position: absolute;
  left: 947.4669003040328px;
  top: 224.00000000000003px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n74d5ed35-f450-40f3-a951-9e0c9982303f {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t10ddaa6a-77d4-4906-aab6-53f54da7e06e .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t10ddaa6a-77d4-4906-aab6-53f54da7e06e .transitionNameContainer {
  left: 1038.7926843899918px;
  top: 491.62488131393536px;
}
#t10ddaa6a-77d4-4906-aab6-53f54da7e06e.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t10ddaa6a-77d4-4906-aab6-53f54da7e06e.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #naca00286-7424-43f4-aedd-70e586c904e4 span#rtr-sc-aca00286-7424-43f4-aedd-70e586c904e4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #naca00286-7424-43f4-aedd-70e586c904e4 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #naca00286-7424-43f4-aedd-70e586c904e4 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/a5d67e6b-1b0d-4a14-a134-171e5b155410.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #naca00286-7424-43f4-aedd-70e586c904e4 {
  position: absolute;
  left: 696.7999081165331px;
  top: 224.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #naca00286-7424-43f4-aedd-70e586c904e4 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t62bc901f-0886-49aa-8d85-a77a5901137c .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t62bc901f-0886-49aa-8d85-a77a5901137c .transitionNameContainer {
  left: 734.150238053416px;
  top: 468.3499085363296px;
}
#t62bc901f-0886-49aa-8d85-a77a5901137c.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t62bc901f-0886-49aa-8d85-a77a5901137c.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n18e0defa-3cfb-483a-8690-774e19f33ba7 span#rtr-sc-18e0defa-3cfb-483a-8690-774e19f33ba7_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n18e0defa-3cfb-483a-8690-774e19f33ba7 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n18e0defa-3cfb-483a-8690-774e19f33ba7 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/cb9cbd55-c2e1-41a7-b92e-7e00baff1dd7.png");
  background-size: 128.51555391329728px 188.38922248990207px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n18e0defa-3cfb-483a-8690-774e19f33ba7 {
  position: absolute;
  left: 164.88002953740744px;
  top: 253.99999999999997px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n18e0defa-3cfb-483a-8690-774e19f33ba7 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t7b0ec184-147c-4d47-9bc5-07400a277cca .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t7b0ec184-147c-4d47-9bc5-07400a277cca .transitionNameContainer {
  left: 316.33008757340133px;
  top: 512.6249762812441px;
}
#t7b0ec184-147c-4d47-9bc5-07400a277cca.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t7b0ec184-147c-4d47-9bc5-07400a277cca.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t3902175a-f8cd-4cc1-a36d-e530bccb2cae .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t3902175a-f8cd-4cc1-a36d-e530bccb2cae .transitionNameContainer {
  left: 257.6800729108976px;
  top: 516.6749782937446px;
}
#t3902175a-f8cd-4cc1-a36d-e530bccb2cae.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t3902175a-f8cd-4cc1-a36d-e530bccb2cae.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tf094c4f0-8cce-48a6-a984-f0c966956ecd .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tf094c4f0-8cce-48a6-a984-f0c966956ecd .transitionNameContainer {
  left: 196.75505580464338px;
  top: 513.2249774312444px;
}
#tf094c4f0-8cce-48a6-a984-f0c966956ecd.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tf094c4f0-8cce-48a6-a984-f0c966956ecd.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t687761d0-7cf3-4e72-9a6a-a092d8410d0a .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t687761d0-7cf3-4e72-9a6a-a092d8410d0a .transitionNameContainer {
  left: 156.49924716742717px;
  top: 443.81653662080134px;
}
#t687761d0-7cf3-4e72-9a6a-a092d8410d0a.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t687761d0-7cf3-4e72-9a6a-a092d8410d0a.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td821db9b-e033-4421-abc2-d29f4797ea19 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td821db9b-e033-4421-abc2-d29f4797ea19 .transitionNameContainer {
  left: 92.81921964030158px;
  top: 640.4499174874795px;
}
#td821db9b-e033-4421-abc2-d29f4797ea19.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#td821db9b-e033-4421-abc2-d29f4797ea19.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na68aa989-64a8-4c32-9d87-3ec109f972ac span#rtr-sc-a68aa989-64a8-4c32-9d87-3ec109f972ac_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na68aa989-64a8-4c32-9d87-3ec109f972ac .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na68aa989-64a8-4c32-9d87-3ec109f972ac .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/fc48c72b-6a02-4d90-aa4b-f2c310b2ca26.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na68aa989-64a8-4c32-9d87-3ec109f972ac {
  position: absolute;
  left: 832.7999081165332px;
  top: 224.00000000000003px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na68aa989-64a8-4c32-9d87-3ec109f972ac {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t69df05f1-18ac-4fa6-9a0d-b4ac5dbcec32 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t69df05f1-18ac-4fa6-9a0d-b4ac5dbcec32 .transitionNameContainer {
  left: 664.8108203953058px;
  top: 368.46662315832253px;
}
#t69df05f1-18ac-4fa6-9a0d-b4ac5dbcec32.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t69df05f1-18ac-4fa6-9a0d-b4ac5dbcec32.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #neec23f46-f23b-4430-b66f-48552afd3f10 span#rtr-sc-eec23f46-f23b-4430-b66f-48552afd3f10_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #neec23f46-f23b-4430-b66f-48552afd3f10 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #neec23f46-f23b-4430-b66f-48552afd3f10 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/bd0a651b-6331-4daa-b981-9c6bd220cd8d.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #neec23f46-f23b-4430-b66f-48552afd3f10 {
  position: absolute;
  left: 417.79990811653306px;
  top: 254.00000000000006px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #neec23f46-f23b-4430-b66f-48552afd3f10 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t24e60589-d55a-4b9e-ae03-d877d03d0ffe .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t24e60589-d55a-4b9e-ae03-d877d03d0ffe .transitionNameContainer {
  left: 326.3022499725566px;
  top: 340.5999436499859px;
}
#t24e60589-d55a-4b9e-ae03-d877d03d0ffe.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t24e60589-d55a-4b9e-ae03-d877d03d0ffe.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc226bbfb-08c4-4a07-8faf-624deab41e95 span#rtr-sc-c226bbfb-08c4-4a07-8faf-624deab41e95_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc226bbfb-08c4-4a07-8faf-624deab41e95 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc226bbfb-08c4-4a07-8faf-624deab41e95 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/d16fb7c4-1cdc-4ac8-a8a5-68e7e3c89c9d.png");
  background-size: 69.80825932185107px 197.09186457554452px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc226bbfb-08c4-4a07-8faf-624deab41e95 {
  position: absolute;
  left: 153.48407673953187px;
  top: 518.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc226bbfb-08c4-4a07-8faf-624deab41e95 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n299e5794-bb34-4ca9-aeca-283d1e46122a span#rtr-sc-299e5794-bb34-4ca9-aeca-283d1e46122a_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n299e5794-bb34-4ca9-aeca-283d1e46122a .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n299e5794-bb34-4ca9-aeca-283d1e46122a .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/044c4743-dd1d-48af-8b38-561827dd56de.png");
  background-size: 69.80825932185107px 180.1717931068727px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n299e5794-bb34-4ca9-aeca-283d1e46122a {
  position: absolute;
  left: 251.2291506311575px;
  top: 518.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n299e5794-bb34-4ca9-aeca-283d1e46122a {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nfe82f19d-92b6-4b29-8cfc-1c08c256e1ee span#rtr-sc-fe82f19d-92b6-4b29-8cfc-1c08c256e1ee_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nfe82f19d-92b6-4b29-8cfc-1c08c256e1ee .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nfe82f19d-92b6-4b29-8cfc-1c08c256e1ee .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/54ca2b7b-a5ec-473d-8c32-fb64d26a242a.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nfe82f19d-92b6-4b29-8cfc-1c08c256e1ee {
  position: absolute;
  left: 364.49464574353436px;
  top: 518.0000000000001px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nfe82f19d-92b6-4b29-8cfc-1c08c256e1ee {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t93802795-af5b-4770-9adf-1b833ed81956 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t93802795-af5b-4770-9adf-1b833ed81956 .transitionNameContainer {
  left: 369.17368563878046px;
  top: 793.4999769538517px;
}
#t93802795-af5b-4770-9adf-1b833ed81956.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t93802795-af5b-4770-9adf-1b833ed81956.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na5bd9ee9-9b45-4ddc-9aca-155cfd8dc194 span#rtr-sc-a5bd9ee9-9b45-4ddc-9aca-155cfd8dc194_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na5bd9ee9-9b45-4ddc-9aca-155cfd8dc194 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na5bd9ee9-9b45-4ddc-9aca-155cfd8dc194 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/b8f28b0f-4963-477b-86e8-cd16221c7398.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na5bd9ee9-9b45-4ddc-9aca-155cfd8dc194 {
  position: absolute;
  left: 364.4946457435342px;
  top: 811.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #na5bd9ee9-9b45-4ddc-9aca-155cfd8dc194 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82d07239-b495-4069-a5d8-be51ebbfadd0 span#rtr-sc-82d07239-b495-4069-a5d8-be51ebbfadd0_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82d07239-b495-4069-a5d8-be51ebbfadd0 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82d07239-b495-4069-a5d8-be51ebbfadd0 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/5e6527c7-e5ad-41e5-9c2a-90fe4814525c.png");
  background-size: 69.80825932185107px 169.9598420289334px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82d07239-b495-4069-a5d8-be51ebbfadd0 {
  position: absolute;
  left: 33.48407673953187px;
  top: 518.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82d07239-b495-4069-a5d8-be51ebbfadd0 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tfb0d8f25-f6d3-4498-844a-6fd5e1fd69bd .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tfb0d8f25-f6d3-4498-844a-6fd5e1fd69bd .transitionNameContainer {
  left: 100.7703105810357px;
  top: 717.149937735368px;
}
#tfb0d8f25-f6d3-4498-844a-6fd5e1fd69bd.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tfb0d8f25-f6d3-4498-844a-6fd5e1fd69bd.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t223efc3b-8311-48db-9d8e-239320d3d9a8 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t223efc3b-8311-48db-9d8e-239320d3d9a8 .transitionNameContainer {
  left: 187.75024862066306px;
  top: 712.5499365853677px;
}
#t223efc3b-8311-48db-9d8e-239320d3d9a8.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t223efc3b-8311-48db-9d8e-239320d3d9a8.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t6e3d7c00-743c-457b-b929-65cfb6e64771 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t6e3d7c00-743c-457b-b929-65cfb6e64771 .transitionNameContainer {
  left: 140.6782665174407px;
  top: 736.1498754351738px;
}
#t6e3d7c00-743c-457b-b929-65cfb6e64771.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t6e3d7c00-743c-457b-b929-65cfb6e64771.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n329bbaff-29d6-416f-8180-6513d9278f0c span#rtr-sc-329bbaff-29d6-416f-8180-6513d9278f0c_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n329bbaff-29d6-416f-8180-6513d9278f0c .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n329bbaff-29d6-416f-8180-6513d9278f0c .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/1a00ea6e-81b2-4a51-acd8-f9fb760d2825.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n329bbaff-29d6-416f-8180-6513d9278f0c {
  position: absolute;
  left: 20.0px;
  top: 762.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n329bbaff-29d6-416f-8180-6513d9278f0c {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t9ed5e9e5-b7be-417c-93c6-5552b506112e .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t9ed5e9e5-b7be-417c-93c6-5552b506112e .transitionNameContainer {
  left: 111.39783895840637px;
  top: 921.8749218664354px;
}
#t9ed5e9e5-b7be-417c-93c6-5552b506112e.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t9ed5e9e5-b7be-417c-93c6-5552b506112e.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2bd38687-b367-4657-94d1-91244ad8f023 span#rtr-sc-2bd38687-b367-4657-94d1-91244ad8f023_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2bd38687-b367-4657-94d1-91244ad8f023 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2bd38687-b367-4657-94d1-91244ad8f023 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/37e70432-00fb-404b-9639-5ef12ed20321.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2bd38687-b367-4657-94d1-91244ad8f023 {
  position: absolute;
  left: 953.7999081165331px;
  top: 460.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2bd38687-b367-4657-94d1-91244ad8f023 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tc5e2037a-6c44-4438-ac94-eb9bb3d299ce .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tc5e2037a-6c44-4438-ac94-eb9bb3d299ce .transitionNameContainer {
  left: 964.2385602737605px;
  top: 707.6249648273839px;
}
#tc5e2037a-6c44-4438-ac94-eb9bb3d299ce.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tc5e2037a-6c44-4438-ac94-eb9bb3d299ce.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tc2520ad9-597a-4464-9709-96422c2f0766 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tc2520ad9-597a-4464-9709-96422c2f0766 .transitionNameContainer {
  left: 1035.1712014134496px;
  top: 709.3499652586339px;
}
#tc2520ad9-597a-4464-9709-96422c2f0766.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tc2520ad9-597a-4464-9709-96422c2f0766.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n6c64c32b-234e-4941-823e-6566bbd346fb span#rtr-sc-6c64c32b-234e-4941-823e-6566bbd346fb_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n6c64c32b-234e-4941-823e-6566bbd346fb .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n6c64c32b-234e-4941-823e-6566bbd346fb .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/06837aa9-16ab-40e6-8116-e02eb039e84d.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n6c64c32b-234e-4941-823e-6566bbd346fb {
  position: absolute;
  left: 645.7999081165331px;
  top: 726.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n6c64c32b-234e-4941-823e-6566bbd346fb {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nccfee517-16fb-41dc-a70b-bebad5c1622f span#rtr-sc-ccfee517-16fb-41dc-a70b-bebad5c1622f_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nccfee517-16fb-41dc-a70b-bebad5c1622f .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nccfee517-16fb-41dc-a70b-bebad5c1622f .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/003e4683-a7dc-4105-816e-45bd0010e350.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nccfee517-16fb-41dc-a70b-bebad5c1622f {
  position: absolute;
  left: 743.4093264124074px;
  top: 726.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nccfee517-16fb-41dc-a70b-bebad5c1622f {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t9746f037-535f-4407-8f60-8216564dd79e .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t9746f037-535f-4407-8f60-8216564dd79e .transitionNameContainer {
  left: 620.4410506597229px;
  top: 937.5999696172777px;
}
#t9746f037-535f-4407-8f60-8216564dd79e.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t9746f037-535f-4407-8f60-8216564dd79e.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n56ded786-69fb-4fdc-9c07-75e2aa4a2b47 span#rtr-sc-56ded786-69fb-4fdc-9c07-75e2aa4a2b47_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n56ded786-69fb-4fdc-9c07-75e2aa4a2b47 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n56ded786-69fb-4fdc-9c07-75e2aa4a2b47 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/3bb85455-c016-47b3-b5b6-b1d9c64c4372.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n56ded786-69fb-4fdc-9c07-75e2aa4a2b47 {
  position: absolute;
  left: 856.6289230872843px;
  top: 703.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n56ded786-69fb-4fdc-9c07-75e2aa4a2b47 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nf8ea6e37-96f8-49d4-9470-53d5008f4219 span#rtr-sc-f8ea6e37-96f8-49d4-9470-53d5008f4219_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nf8ea6e37-96f8-49d4-9470-53d5008f4219 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nf8ea6e37-96f8-49d4-9470-53d5008f4219 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/358c3cdd-5e4b-423f-b5d5-2cb6064d24f0.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nf8ea6e37-96f8-49d4-9470-53d5008f4219 {
  position: absolute;
  left: 1010.7999081165331px;
  top: 703.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nf8ea6e37-96f8-49d4-9470-53d5008f4219 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t353f540f-2702-4d68-b3b6-c1468eef78bd .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t353f540f-2702-4d68-b3b6-c1468eef78bd .transitionNameContainer {
  left: 1022.9301291671156px;
  top: 787.7999402922701px;
}
#t353f540f-2702-4d68-b3b6-c1468eef78bd.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t353f540f-2702-4d68-b3b6-c1468eef78bd.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t62ce8eb7-e9d0-4174-b0c0-b34f32cbb03d .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t62ce8eb7-e9d0-4174-b0c0-b34f32cbb03d .transitionNameContainer {
  left: 766.2404650097229px;
  top: 899.4499215897756px;
}
#t62ce8eb7-e9d0-4174-b0c0-b34f32cbb03d.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t62ce8eb7-e9d0-4174-b0c0-b34f32cbb03d.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n926fffe5-65bd-44fd-9ac7-73bf7ab9da49 span#rtr-sc-926fffe5-65bd-44fd-9ac7-73bf7ab9da49_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n926fffe5-65bd-44fd-9ac7-73bf7ab9da49 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n926fffe5-65bd-44fd-9ac7-73bf7ab9da49 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n926fffe5-65bd-44fd-9ac7-73bf7ab9da49 {
  position: absolute;
  left: 144.07330232065874px;
  top: 761.9999999999999px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n926fffe5-65bd-44fd-9ac7-73bf7ab9da49 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n11da923a-9128-4c0f-936c-d5d21bc31ee6 span#rtr-sc-11da923a-9128-4c0f-936c-d5d21bc31ee6_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n11da923a-9128-4c0f-936c-d5d21bc31ee6 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n11da923a-9128-4c0f-936c-d5d21bc31ee6 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/49b72cfa-8504-4a6b-ac3b-a4aa7b585604.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n11da923a-9128-4c0f-936c-d5d21bc31ee6 {
  position: absolute;
  left: 673.7999081165331px;
  top: 460.0000000000001px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n11da923a-9128-4c0f-936c-d5d21bc31ee6 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t94010eb9-3c84-4d37-b1aa-dc377a12202f .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t94010eb9-3c84-4d37-b1aa-dc377a12202f .transitionNameContainer {
  left: 712.9752166346607px;
  top: 718.7749400175876px;
}
#t94010eb9-3c84-4d37-b1aa-dc377a12202f.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t94010eb9-3c84-4d37-b1aa-dc377a12202f.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t5ea5ddb6-f459-4a78-acab-9783b745b0e4 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t5ea5ddb6-f459-4a78-acab-9783b745b0e4 .transitionNameContainer {
  left: 760.6299398701013px;
  top: 719.9249403050877px;
}
#t5ea5ddb6-f459-4a78-acab-9783b745b0e4.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t5ea5ddb6-f459-4a78-acab-9783b745b0e4.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t70148eb1-f517-4eb2-82f2-c0be263e502a .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t70148eb1-f517-4eb2-82f2-c0be263e502a .transitionNameContainer {
  left: 589.5661353932801px;
  top: 688.2331967893374px;
}
#t70148eb1-f517-4eb2-82f2-c0be263e502a.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t70148eb1-f517-4eb2-82f2-c0be263e502a.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta2ddafc8-ea62-455d-ab42-2aff8dd9d957 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta2ddafc8-ea62-455d-ab42-2aff8dd9d957 .transitionNameContainer {
  left: 630.4161437307821px;
  top: 706.6332013893384px;
}
#ta2ddafc8-ea62-455d-ab42-2aff8dd9d957.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#ta2ddafc8-ea62-455d-ab42-2aff8dd9d957.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne6853c3d-dcc9-4f31-8cb0-f6ccbcee9f7f span#rtr-sc-e6853c3d-dcc9-4f31-8cb0-f6ccbcee9f7f_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne6853c3d-dcc9-4f31-8cb0-f6ccbcee9f7f .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne6853c3d-dcc9-4f31-8cb0-f6ccbcee9f7f .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/f7a2f4ea-64b6-4084-bf2d-2cef9bfb2e0a.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne6853c3d-dcc9-4f31-8cb0-f6ccbcee9f7f {
  position: absolute;
  left: 467.79990811653306px;
  top: 725.9999999999999px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ne6853c3d-dcc9-4f31-8cb0-f6ccbcee9f7f {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n707a1199-7e90-41f3-a37a-e1e8b69487a9 span#rtr-sc-707a1199-7e90-41f3-a37a-e1e8b69487a9_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n707a1199-7e90-41f3-a37a-e1e8b69487a9 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n707a1199-7e90-41f3-a37a-e1e8b69487a9 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/c6153d36-3aa3-4231-8ce3-a21bf604e004.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n707a1199-7e90-41f3-a37a-e1e8b69487a9 {
  position: absolute;
  left: 559.7999081165331px;
  top: 725.9999999999999px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n707a1199-7e90-41f3-a37a-e1e8b69487a9 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta3a857b5-2c3c-4964-a24f-73f788c4178e .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta3a857b5-2c3c-4964-a24f-73f788c4178e .transitionNameContainer {
  left: 603.8228486479368px;
  top: 935.6749253164364px;
}
#ta3a857b5-2c3c-4964-a24f-73f788c4178e.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#ta3a857b5-2c3c-4964-a24f-73f788c4178e.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nbfce21e5-eb61-4abd-bf33-955d4f44f71b span#rtr-sc-bfce21e5-eb61-4abd-bf33-955d4f44f71b_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nbfce21e5-eb61-4abd-bf33-955d4f44f71b .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nbfce21e5-eb61-4abd-bf33-955d4f44f71b .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/1de86006-cddb-4ea1-8bd3-cdcbcade628c.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nbfce21e5-eb61-4abd-bf33-955d4f44f71b {
  position: absolute;
  left: 235.79990811653306px;
  top: 761.9999999999999px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nbfce21e5-eb61-4abd-bf33-955d4f44f71b {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b24ad61-42cb-4494-b371-973712d033d1 span#rtr-sc-7b24ad61-42cb-4494-b371-973712d033d1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b24ad61-42cb-4494-b371-973712d033d1 .scenarioDevice {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b24ad61-42cb-4494-b371-973712d033d1 .scenarioScreenThumbnail {
  height: 168.0px;
  width: 76.50985221674877px;
  background-image: url("../../resources/scenarios/screens/fe24c5ba-54bf-4685-99ea-a0e1e50f7acb.png");
  background-size: 69.80825932185107px 151.1581508515815px;
  background-position: 3.3507964474488503px 8.420924574209252px;
  z-index: -1;
  clip-path: polygon(4.3795620437956195% 0%, 95.62043795620438% +5.0124551036959835%, 95.62043795620438% +94.98754489630402%, 4.3795620437956195% +94.98754489630402%);
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b24ad61-42cb-4494-b371-973712d033d1 {
  position: absolute;
  left: 538.2100210706587px;
  top: 1021.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b24ad61-42cb-4494-b371-973712d033d1 {
}
#scenarioWrapper {
  width: 1147.1860882499082px;
  height: 1208.0px;
}