#s-044c4743-dd1d-48af-8b38-561827dd56de > #backgroundBox {
  position: absolute;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 input::-webkit-input-placeholder {
  color: #666666;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 input::-moz-placeholder {
  color: #666666;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 input:-moz-placeholder {
  color: #666666;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 input:-ms-input-placeholder {
  color: #666666;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 {
  position: absolute;
  width: 343.00000000000017px;
  height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 .valign {
  vertical-align: middle;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 > .backgroundLayer {
  border-radius: 6px 6px 6px 6px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 > .borderLayer {
  border-radius: 6px 6px 6px 6px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 > .backgroundLayer {
  border-radius: 6px 6px 6px 6px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_1 {
  position: absolute;
  width: 20.04545454545456px;
  height: 20.04545454545456px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_1 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_1 {
  position: absolute;
  width: 116.74667358398426px;
  min-height: 36.0px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_1 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_2 {
  position: absolute;
  width: 164.0000000000001px;
  min-height: 19.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_2 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_3 {
  position: absolute;
  width: 65.00000000000011px;
  min-height: 19.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_3 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_3 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_2 .imageViewport > * {
  width: 100.0%;
  height: 120.45642963194038%;
  left: -0.0%;
  top: -0.0%;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_2 {
  position: absolute;
  width: 343.0px;
  height: 160.5116714677808px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_2 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_2 > .backgroundLayer {
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_2 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #673FB4;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #673FB4;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #673FB4;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #673FB4;
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_2 > .backgroundLayer {
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_4 {
  position: absolute;
  width: 248.77200317382835px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_4 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_3 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_3 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_4 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_5 {
  position: absolute;
  width: 248.77200317382835px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_5 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_5 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_5 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_6 .imageViewport > * {
  width: 99.99999999999997%;
  height: 109.6666311450195%;
  left: -0.0%;
  top: -0.0%;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_6 {
  position: absolute;
  width: 343.0px;
  height: 161.99999999999977px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_6 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_6 > .backgroundLayer {
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_6 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #673FB4;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #673FB4;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #673FB4;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #673FB4;
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_6 > .backgroundLayer {
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_7 .imageViewport > * {
  width: 99.99999999999997%;
  height: 117.99242424242422%;
  left: -0.0%;
  top: -0.0%;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_7 {
  position: absolute;
  width: 341.0000000000002px;
  height: 152.8571428571429px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 100px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_7 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_7 > .backgroundLayer {
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_7 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #673FB4;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #673FB4;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #673FB4;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #673FB4;
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_7 > .backgroundLayer {
  border-radius: 18px 18px 18px 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_6 {
  position: absolute;
  width: 248.77200317382835px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 100px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_6 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_8 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 100px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_8 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_9 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 100px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_9 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_10 {
  position: absolute;
  width: 78.0px;
  height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_10 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_11 {
  position: absolute;
  width: 78.0px;
  height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_11 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_12 {
  position: absolute;
  width: 78.0px;
  height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 100px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_12 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_13 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_13 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_1 {
  position: absolute;
  width: 375.0000000000007px;
  min-height: 105.49999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_1 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_1 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_7 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_7 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_14 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_14 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_15 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_15 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_16 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_16 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_8 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_17 {
  position: absolute;
  width: 32.0px;
  height: 32.49999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_17 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 {
  position: absolute;
  width: 326.99999999999983px;
  min-height: 58.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(5.0px 4.0px 21.0px #666666);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 {
  box-shadow: 5.0px 4.0px 42px 0px #666666;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 > .backgroundLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 > .borderLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 > .backgroundLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 {
  position: absolute;
  width: 108.24999999999966px;
  min-height: 45.00000000000023px;
  opacity: 0.63;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #D9D9D9);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 {
  box-shadow: 1.0px 1.0px 40px 0px #D9D9D9;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #E19DFF;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 > .borderLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_18 {
  position: absolute;
  width: 28.107227325439467px;
  height: 28.1072273254393px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_18 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_9 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_9 span {
  color: #9A2FAE;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #9A2FAE;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_19 {
  position: absolute;
  width: 27.0px;
  height: 26.43561423697116px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_19 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_20 {
  position: absolute;
  width: 28.500000000000284px;
  height: 28.500000000000284px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_20 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_21 {
  position: absolute;
  width: 22.999999999999943px;
  height: 23.000000000000046px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Image_21 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 {
  position: absolute;
  width: 59.25px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 > .backgroundLayer {
  border-radius: 7px 7px 7px 7px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 > .borderLayer {
  border-radius: 7px 7px 7px 7px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 > .backgroundLayer {
  border-radius: 7px 7px 7px 7px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #s-Ellipse_1 {
  width: 9.0px;
  height: 9.0px;
  min-height: 9.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-044c4743-dd1d-48af-8b38-561827dd56de #s-Ellipse_1 {
  box-shadow: none;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-044c4743-dd1d-48af-8b38-561827dd56de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}