#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 > #backgroundBox {
  position: absolute;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_1 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_1 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_1 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_1 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_2 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_2 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_3 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_3 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_2 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_2 span#rtr-s-Paragraph_2_2 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Line_1 marker {
  fill: #CCCCCC;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 355.00000000000034px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(-6.8807492827154326E-15deg);
  -moz-transform: rotate(-6.8807492827154326E-15deg);
  transform: rotate(-6.8807492827154326E-15deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Line_1 {
  width: 355.00000000000034px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #CCCCCC;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Line_1 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Line_2 marker {
  fill: #673FB4;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 140.0px;
  height: 4.0px;
  filter: none;
  -webkit-transform: rotate(-6.8807492827154326E-15deg);
  -moz-transform: rotate(-6.8807492827154326E-15deg);
  transform: rotate(-6.8807492827154326E-15deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Line_2 {
  width: 140.0px;
  height: 4.0px;
  stroke-width: 4px;
  stroke: #673FB4;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Line_2 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_2 {
  width: 61.00372141599601px;
  height: 58.831351227863934px;
  min-height: 58.831351227863934px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_2 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.16);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_3 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_3 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_8 {
  width: 52.0px;
  height: 52.00000000000121px;
  min-height: 52.00000000000121px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_8 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 {
  position: absolute;
  width: 74.90288628472206px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_4 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_3 {
  width: 61.00372141599601px;
  height: 58.831351227863934px;
  min-height: 58.831351227863934px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_3 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.16);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_5 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_5 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_9 {
  width: 52.0px;
  height: 52.00000000000121px;
  min-height: 52.00000000000121px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_9 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #FFC16D;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 {
  position: absolute;
  width: 74.90288628472206px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_6 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_6 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_6 span#rtr-s-Paragraph_6_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_4 {
  width: 61.00372141599601px;
  height: 58.831351227863934px;
  min-height: 58.831351227863934px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_4 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.16);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_7 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_7 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_10 {
  width: 52.0px;
  height: 52.00000000000121px;
  min-height: 52.00000000000121px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_10 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_10 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 {
  position: absolute;
  width: 74.90288628472206px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_8 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_8 span#rtr-s-Paragraph_8_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_5 {
  width: 61.00372141599601px;
  height: 58.831351227863934px;
  min-height: 58.831351227863934px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_5 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.16);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_9 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_9 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_11 {
  width: 52.0px;
  height: 52.00000000000121px;
  min-height: 52.00000000000121px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_11 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #FFC16D;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 {
  position: absolute;
  width: 74.90288628472206px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_10 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_10 span#rtr-s-Paragraph_10_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_6 {
  width: 61.00372141599601px;
  height: 58.831351227863934px;
  min-height: 58.831351227863934px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_6 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.16);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_11 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_11 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_12 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_12 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_12 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_12 {
  width: 52.0px;
  height: 52.00000000000121px;
  min-height: 52.00000000000121px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Ellipse_12 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_12 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 23.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 {
  position: absolute;
  width: 74.90288628472206px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_12 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_12 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Paragraph_12 span#rtr-s-Paragraph_12_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 {
  position: absolute;
  width: 258.56248546526683px;
  min-height: 58.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(5.0px 4.0px 21.0px #666666);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 {
  box-shadow: 5.0px 4.0px 42px 0px #666666;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 > .backgroundLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 > .borderLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 > .backgroundLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_19 {
  position: absolute;
  width: 26.5px;
  height: 26.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_19 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_20 {
  position: absolute;
  width: 25.0px;
  height: 25.000000000000117px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_20 {
  box-shadow: none;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 {
  position: absolute;
  width: 108.24999999999966px;
  min-height: 45.00000000000023px;
  opacity: 0.63;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #D9D9D9);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 {
  box-shadow: 1.0px 1.0px 40px 0px #D9D9D9;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #E19DFF;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 > .borderLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_18 {
  position: absolute;
  width: 27.11px;
  height: 27.109999999999843px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 #s-Image_18 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4a88ae89-c0ee-48ed-833c-e06fb17a6204 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}