#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a > #backgroundBox {
  position: absolute;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_1 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_1 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_1 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_1 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_2 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_2 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_3 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_3 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_2 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_4 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_5 {
  position: absolute;
  width: 138.0000000000001px;
  height: 138.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 50.0px #D9D9D9);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_5 {
  box-shadow: -0.0px -0.0px 100px 0px #D9D9D9;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_3 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_4 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_4 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 {
  position: absolute;
  width: 159.50000000000023px;
  min-height: 57.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(3.0px 2.0px 30.0px #D9D9D9);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 {
  box-shadow: 3.0px 2.0px 60px 0px #D9D9D9;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 {
  position: absolute;
  width: 159.50000000000023px;
  min-height: 57.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(3.0px 2.0px 30.0px #D9D9D9);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 {
  box-shadow: 3.0px 2.0px 60px 0px #D9D9D9;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #5BEE9D;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 {
  position: absolute;
  width: 157.5000000000005px;
  min-height: 57.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(3.0px 2.0px 30.0px #D9D9D9);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 {
  box-shadow: 3.0px 2.0px 60px 0px #D9D9D9;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #EF6551;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 {
  position: absolute;
  width: 157.5000000000005px;
  min-height: 57.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(3.0px 2.0px 30.0px #D9D9D9);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 {
  box-shadow: 3.0px 2.0px 60px 0px #D9D9D9;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_6 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_6 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_5 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_5 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_7 {
  position: absolute;
  width: 35.0px;
  height: 8.750000000000167px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_7 {
  box-shadow: none;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_8 {
  position: absolute;
  width: 35.0px;
  height: 8.750000000000167px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a #s-Image_8 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a83f56ce-8e52-4b6b-86a5-dc59dbbe9f5a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}