#s-b8f28b0f-4963-477b-86e8-cd16221c7398 > #backgroundBox {
  position: absolute;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_1 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_1 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_1 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_1 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_2 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_2 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_3 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_3 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_4 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_5 {
  position: absolute;
  width: 45.0px;
  height: 45.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_5 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_5 > .backgroundLayer {
  border-radius: 27px 27px 27px 27px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_5 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFC16D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFC16D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFC16D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFC16D;
  border-radius: 27px 27px 27px 27px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_5 > .backgroundLayer {
  border-radius: 27px 27px 27px 27px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_2 {
  position: absolute;
  width: 113.49999999999994px;
  min-height: 24.0px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_2 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 {
  position: absolute;
  width: 59.25px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #E19DFF;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 > .borderLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_3 {
  position: absolute;
  width: 113.49999999999989px;
  min-height: 18.0px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_3 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_6 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_6 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_4 {
  position: absolute;
  width: 113.49999999999989px;
  min-height: 24.0px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_4 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_4 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 {
  position: absolute;
  width: 212.2500000000001px;
  min-height: 36.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 17px 17px 0px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 > .borderLayer {
  border-radius: 17px 17px 0px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 17px 17px 0px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_7 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_7 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_5 {
  position: absolute;
  width: 59.74999999999994px;
  min-height: 23.999999999999943px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_5 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 {
  position: absolute;
  width: 281.0px;
  min-height: 97.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 17px 0px 17px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 > .borderLayer {
  border-radius: 17px 0px 17px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 17px 0px 17px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_6 {
  position: absolute;
  width: 59.74999999999994px;
  min-height: 23.999999999999943px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_6 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 {
  position: absolute;
  width: 212.2500000000001px;
  min-height: 36.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 17px 17px 17px 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 > .borderLayer {
  border-radius: 17px 17px 17px 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 17px 17px 17px 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_7 {
  position: absolute;
  width: 59.74999999999994px;
  min-height: 23.999999999999943px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_7 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 {
  position: absolute;
  width: 281.0px;
  min-height: 97.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 0px 17px 17px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 > .borderLayer {
  border-radius: 0px 17px 17px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 0px 17px 17px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_8 {
  position: absolute;
  width: 59.74999999999994px;
  min-height: 23.999999999999943px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_8 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_9 {
  position: absolute;
  width: 59.74999999999994px;
  min-height: 23.999999999999943px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_9 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 {
  position: absolute;
  width: 212.2500000000001px;
  min-height: 36.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 17px 17px 0px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 > .borderLayer {
  border-radius: 17px 17px 0px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 17px 17px 0px 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_10 {
  position: absolute;
  width: 59.74999999999994px;
  min-height: 23.999999999999943px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_10 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 {
  position: absolute;
  width: 212.2500000000001px;
  min-height: 36.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 17px 17px 17px 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 > .borderLayer {
  border-radius: 17px 17px 17px 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 17px 17px 17px 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 17px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_11 {
  position: absolute;
  width: 59.74999999999994px;
  min-height: 23.999999999999943px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_11 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_12 {
  position: absolute;
  width: 59.74999999999994px;
  min-height: 23.999999999999943px;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins Medium',Arial;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_12 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins Medium',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 input::-webkit-input-placeholder {
  color: #A468B5;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 input::-moz-placeholder {
  color: #A468B5;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 input:-moz-placeholder {
  color: #A468B5;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 input:-ms-input-placeholder {
  color: #A468B5;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 {
  position: absolute;
  width: 307.0000000000001px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A468B5;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A468B5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A468B5;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A468B5;
  border-radius: 24px 24px 24px 24px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_8 {
  position: absolute;
  width: 25.133333333333212px;
  height: 25.133333333333212px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_8 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: drop-shadow(4.0px 2.0px 6.5px #EFEFEF);
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Ellipse_1 {
  width: 50.87500000000057px;
  height: 50.875000000000114px;
  min-height: 50.875000000000114px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4px;
  stroke: #A468B5;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Ellipse_1 {
  box-shadow: 4.0px 2.0px 13px 0px #EFEFEF;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_9 {
  position: absolute;
  width: 14.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_9 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_10 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_10 {
  box-shadow: none;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_11 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b8f28b0f-4963-477b-86e8-cd16221c7398 #s-Image_11 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b8f28b0f-4963-477b-86e8-cd16221c7398 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}