#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 > #backgroundBox {
  position: absolute;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_2 {
  width: 61.00372141599601px;
  height: 58.831351227863934px;
  min-height: 58.831351227863934px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_2 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.16);
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_1 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_1 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_1 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_1 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_2 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_2 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_3 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_3 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins ExtraBold',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_2 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins ExtraBold',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_6 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_6 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_4 {
  position: absolute;
  width: 51.50313183884617px;
  height: 51.50313183884621px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_4 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_3 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_3 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_8 {
  position: absolute;
  width: 51.50313183884617px;
  height: 51.50313183884621px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_8 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_4 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_4 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_11 {
  position: absolute;
  width: 51.50313183884617px;
  height: 51.50313183884621px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_11 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_5 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_5 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_14 {
  position: absolute;
  width: 51.50313183884617px;
  height: 51.50313183884621px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_14 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_6 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_6 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 {
  position: absolute;
  width: 341.9028862847222px;
  min-height: 84.82474226804118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.0px 1.0px 20.0px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 {
  box-shadow: 1.0px 1.0px 40px 0px #EFEFEF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 > .borderLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_17 {
  position: absolute;
  width: 51.50313183884617px;
  height: 51.50313183884621px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_17 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_7 {
  position: absolute;
  width: 138.12996188799514px;
  min-height: 31.731958762886848px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_7 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_3 {
  width: 31.99999999999926px;
  height: 32.0px;
  min-height: 32.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_3 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_5 {
  position: absolute;
  width: 24.0px;
  height: 23.999999999999698px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_5 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_4 {
  width: 32.0px;
  height: 32.000000000000014px;
  min-height: 32.000000000000014px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_4 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_7 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_7 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_5 {
  width: 32.0px;
  height: 32.000000000000014px;
  min-height: 32.000000000000014px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_5 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_9 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_9 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_6 {
  width: 32.0px;
  height: 32.000000000000014px;
  min-height: 32.000000000000014px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_6 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_10 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_10 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_7 {
  width: 32.0px;
  height: 32.000000000000014px;
  min-height: 32.000000000000014px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Ellipse_7 {
  box-shadow: none;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #A468B5;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_12 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c6153d36-3aa3-4231-8ce3-a21bf604e004 #s-Image_12 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c6153d36-3aa3-4231-8ce3-a21bf604e004 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}