#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 > #backgroundBox {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#D076F8,#E4C3F3);
  background-image: -webkit-linear-gradient(top,#D076F8,#E4C3F3);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D076F8), color-stop(100%,#E4C3F3));
  background-image: -o-linear-gradient(top,#D076F8,#E4C3F3);
  background-image: linear-gradient(to bottom,#D076F8,#E4C3F3);
  position: absolute;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Image_1 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Image_1 {
  box-shadow: none;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_1 {
  box-shadow: none;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_2 {
  box-shadow: none;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_3 {
  box-shadow: none;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 {
  position: absolute;
  width: 90.00000000000011px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 12.5px #A468B5);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 {
  box-shadow: -0.0px -0.0px 25px 0px #A468B5;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_4 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_4 {
  box-shadow: none;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Image_2 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Image_2 {
  box-shadow: none;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Image_3 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Image_3 {
  box-shadow: none;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 #s-Image_4 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fc48c72b-6a02-4d90-aa4b-f2c310b2ca26 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}